<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883331518653-q5imq39jke8ffsonpc5l29v902kogmmi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883331518653-q5imq39jke8ffsonpc5l29v902kogmmi</string>
	<key>API_KEY</key>
	<string>AIzaSyD_fHSaQ6X3EFSqkahtaWyVcPJdHgw4uyE</string>
	<key>GCM_SENDER_ID</key>
	<string>883331518653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gymstreaklabs.noEnemies</string>
	<key>PROJECT_ID</key>
	<string>noenemies-app</string>
	<key>STORAGE_BUCKET</key>
	<string>noenemies-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883331518653:ios:2850990fe8dc2bc39627d4</string>
</dict>
</plist>